<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>글보기</title>
    <link rel="stylesheet" href="../css/style.css"/>
    <script>

        document.addEventListener('DOMContentLoaded', async function(){
            /////////////////////////////////////////////////
            // 댓글 등록
            /////////////////////////////////////////////////
            const form = document.formComment;

            form.addEventListener('submit', async function(e){
                e.preventDefault();

                // json 생성
                const jsonData = {
                    "parent": this.parent.value,
                    "writer": this.writer.value,
                    "content": this.content.value,
                };

                console.log(jsonData);

                const response = await fetch('/comment/write', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(jsonData)
                });

                const data = await response.json();
                console.log(data);
            });

            /////////////////////////////////////////////////
            // 댓글 목록 요청
            /////////////////////////////////////////////////
            const parent = form.parent.value;
            const response = await fetch(`/comment/list?parent=${parent}`);
            const data = await response.json();
            console.log(data);

            const commentList = document.getElementsByClassName('commentList')[0];
            const empty = commentList.getElementsByClassName('empty')[0];

            for(const comment of data){
                const article = `<article>
                                    <span class="date">${comment.wdate.substring(2, 16)}</span>
                                    <span class="nick">${comment.nick}</span>
                                    <p class="content">${comment.content}</p>
                                    <div>
                                        <a href="#" class="remove">삭제</a>
                                        <a href="#" class="modify">수정</a>
                                    </div>
                                 </article>`;

                commentList.insertAdjacentHTML('beforeend', article);
                empty.remove();
            }


            /////////////////////////////////////////////////
            // 댓글
            /////////////////////////////////////////////////

            /////////////////////////////////////////////////
            // 댓글
            /////////////////////////////////////////////////

            /////////////////////////////////////////////////
            // 댓글
            /////////////////////////////////////////////////

        });


    </script>
</head>
<body>
    <div id="wrapper">
        <th:block th:include="~{/article/_head.html}"/>
        <main id="article">
            <section class="view">
                <nav>
                    <h1>글보기</h1>
                </nav>
                <table border="0">                    
                    <tr>
                        <th>제목</th>
                        <td><input type="text" name="title" th:value="${articleDTO.title}" readonly/></td>
                    </tr>
                    <tr>
                        <th>작성자</th>
                        <td><input type="text" name="writer" th:value="${articleDTO.writer + '(' + articleDTO.nick + ')' }" readonly/></td>
                    </tr>
                    <tr th:if="${articleDTO.file > 0}">
                        <th>파일</th>
                        <td>
                            <th:block th:each="file:${articleDTO.fileList}">
                                <p th:if="${file.fno != 0}">
                                    <a th:href="@{/file/download(fno=${file.fno})}">
                                        [[${file.ofname}]]
                                    </a>&nbsp;<span>[[${file.download}]]</span>회 다운로드
                                </p>
                            </th:block>
                        </td>
                    </tr>
                    <tr>
                        <th>내용</th>
                        <td>
                            <textarea name="content" readonly>[[${articleDTO.content}]]</textarea>
                        </td>
                    </tr>                    
                </table>
                
                <div>
                    <a th:href="@{/article/remove}" class="btn btnRemove">삭제</a>
                    <a th:href="@{/article/modify}" class="btn btnModify">수정</a>
                    <a th:href="@{/article/list}" class="btn btnList">목록</a>
                </div>

                <!-- 댓글목록 -->
                <section class="commentList">
                    <h3>댓글목록</h3>
                    <p class="empty">등록된 댓글이 없습니다.</p>
                </section>

                <!-- 댓글쓰기 -->
                <section class="commentForm">
                    <h3>댓글쓰기</h3>
                    <form name="formComment">
                        <input type="hidden" name="parent" th:value="${articleDTO.ano}"/>
                        <input type="hidden" name="writer" th:value="${#authentication.principal.user.userid}"/>
                        <textarea name="content" placeholder="댓글내용 입력"></textarea>
                        <div>
                            <a href="#" class="btn btnCancel">취소</a>
                            <input type="submit" value="작성완료" class="btn btnComplete"/>
                        </div>
                    </form>
                </section>

            </section>
        </main>
        <th:block th:include="~{/article/_tail.html}"/>
    </div>    
</body>
</html>